@model BankApp.Application.Transactions.Commands.CreateTransactionCommand

@{
    ViewData["Title"] = "Insättningar";
}

<h4>Insättningar</h4>
<hr />
@if (TempData["Error"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["Error"])
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label">Till konto</label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Belopp</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label">Meddelande</label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Spara</button>
            </div>
        </form>
    </div>
</div>


