@model BankApp.Application.Bank.Queries.BankInfoViewModel

@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Rickbanken!</h1>
    <p>@Model.TotalCustomers nöjda kunder!</p>
    <p>@Model.TotalAccounts konton fyllda med cash!</p>
    <p>@Model.TotalBalance sammanlagt saldo!</p>
</div>
