@model BankApp.Application.Bank.Queries.BankInfoViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.TotalCustomers nöjda kunder!</p>
    <p>@Model.TotalBalance sammanlagt saldo!</p>
</div>
